<h2>Time Log Report</h2>

<p><%= link_to 'Go Back', work_logs_path %></p>

<p>This is a cumulative time log report for all activity between 2010-09-01 and 2010-12-15.</p>

<h3>Details</h3>
<p>There were <strong><%= @work_logs.count %> time entries</strong> during this time period.</p>

<%= render :partial => "work_breakdown", :locals => {:people => @people, :work_logs => @work_logs, :work_types => @work_types} %>